/@font-face {
  font-family: "Inter";
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCo3FwrK3iLTcviYwY.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSwv5HMAFg6IuGlBNMjxLsH8ag.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "The Seasons";
  src: url("./fonts/seasons/Fontspring-DEMO-theseasons-bdit.otf")
    format("opentype");
  src: local("The Seasons Bold"), local("TheSeasons-Bold"),
    url("./fonts/seasons/Fontspring-DEMO-theseasons-bdit.otf")
      format("opentype");
}

* {
  font-family: "Inter Tight", sans-serif;
}

/* variable */
:root {
  --primary-color: #152cba;
  --secondary-color: #5a6ff5;
  --background-color: #f8f5ee;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.navbar-link {
  font-weight: 700;
  color: var(--primary-color);
}

.navbar-link:hover {
  color: var(--secondary-color);
}

.boxes {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(#afafbc53 0.9px, transparent 0.9px),
    linear-gradient(to right, #afafbc53 0.9px, rgba(255, 255, 255, 0) 0.9px);
  background-size: 18px 18px;

  width: 100vw;
  height: 42vh;

  z-index: 0;
}

.category {
  z-index: 100;
  width: fit-content;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);

  font-family: "The Seasons", sans-serif;
  font-size: 14px;
  font-weight: 800;
  border-radius: 100px;
  border: 1px solid var(--primary-color);
}

.heading-title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--primary-color);
  letter-spacing: -1.5px;
}

.description {
  font-weight: 600;
  letter-spacing: -0.5px;
  color: var(--primary-color);
}

.content-container {
  position: relative;
  --mask: linear-gradient(135deg, #0000 56.57px, #000 0);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  height: 630px;

  /* add blue masking effect color */
  background: linear-gradient(135deg, #152cba 56.57px, #152cba 0),
    linear-gradient(to right, #152cba 56.57px, #f8f5ee 0);

  color: white;
  align-content: end;
}

.content {
  padding: 36px;
}

.content-container .title {
  font-size: 2rem;
  margin-bottom: 0.5em;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: 1.2;
}

.content-container .description {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: -0.5px;
}
.img-wrapper {
  cursor: pointer;
  background: #2b3fbe;
}
/* .img-wrapper {
  background-color: var(--primary-color);
  mix-blend-mode: multiply;
}
.img-wrapper img {
  -webkit-filter: grayscale(100%) contrast(1.1);
  filter: grayscale(100%) contrast(1.5) brightness(0.9);
  mix-blend-mode: lighten;
} */

.blog-head {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
  color: var(--primary-color);
}

.blog-head.list {
  font-size: 1.2rem;
}

.blog-head h1 {
  background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom /
    0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 2px;
}
.blog-head h1:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.blog-item .description {
  font-weight: 500;
  letter-spacing: -0.2px;
}

.blog-item .tag {
  font-weight: 700;
  color: var(--primary-color);
  padding: 3px 8px;
  font-size: 12px;
  border: 2px solid var(--primary-color);
  border-radius: 100px;
}

.pagination {
  color: var(--primary-color);
}

.footer {
  background-color: var(--primary-color);
}

.bg-pria {
  background-color: var(--primary-color);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-direction: column;
}

.link-active {
  padding: 2px;
  width: 2px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  text-align: center;
}
